.main-content {
   height: 100%;
   display: grid;
   background-color: #dbdabd;
   grid-template-rows: 1fr 0.5fr 1fr 0.35fr;
   grid-template-columns: 2fr 6fr 2fr;
}
.slideShowHolder {
   padding-bottom: 1px;
   grid-row: 1/2;
   grid-column: 1/4;
}
.landingPageBreak {
   grid-row: 2/3;
   grid-column: 1/4;
   background-image: url("../assets/landingPic1.png");
   background-repeat: no-repeat;
   margin-top: 10px;
   background-size: 100% 100%;
}

.bottomCardSection {
   grid-row: 3/4;
   grid-column: 1/4;
   display: grid;
   padding-top: 3%;
   grid-template-columns: 1fr 1fr 1fr;
   justify-items: center;
   align-items: center;
}

.footer {
   grid-row: 4/5;
   grid-column: 1/4;
   border: 1px solid black;
}
