.custom-contact {
   margin-top: 0 !important;
   background-image: url("../assets/footerBackGround.jpg") !important;
   background-size: cover !important;
   background-position: center !important;
   position: relative;
   /* z-index: 1 !important; */
}
.contact-info {
   float: right;
}
