.custom-content {
   display: grid;
   height: 100%;
   width: 100%;
   min-width: 100%;
   grid-template-columns: 10% 80% 10%;
   grid-template-rows: 15% 80% 15%;
   grid-template-areas:
      ". . ."
      ". loginForm ."
      ". . .";
   align-items: center;
   background-color: #3a506b;
}

.custom-container {
   grid-area: loginForm;
   width: 40%;
   height: 40%;
   justify-self: center;
   box-shadow: 1px 5px 5px 5px rgb(12, 12, 12, 0.6);
   padding-left: 5%;
   padding-right: 5%;
   border-radius: 50px;
   transition: 0.5s;
   background-color: #1c2541;
}
.custom-container:hover {
   box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
}
button:hover {
   box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
   background-color: #1c2541;
}

button {
   border-radius: 20px;
   border-color: white;
   transition: 0.5s;
   color: #bc6c25;
   font-weight: 1000;
   font-size: 20px;
}
h2 {
   padding-top: 2%;
   color: #bc6c25;
}
.custom-login-p {
   font-size: 17px;
   font-weight: 1000;
   color: #dda15e;
}

.form-control {
   border-radius: 40px;
}
