.custom-content-login {
   display: grid;
   height: 100%;
   width: 100%;
   min-width: 100%;

   align-items: center;
   background-color: #f2f2f0;
}

.loginFormHolder {
   z-index: 1;
   background-color: #f2f2f0;
   box-shadow: 1px 5px 5px 5px rgb(12, 12, 12, 0.6);
   border-radius: 50px;
   transition: 0.5s;
}
.loginFormHolder:hover {
   box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.textDirection {
   direction: rtl !important;
   font-size: 18px !important;
}
.loginBtn {
   font-size: 25px;
   border-radius: 50px;
}
