.custom-content-register {
   display: grid;
   height: 100%;
   width: 100%;
   min-width: 100%;
   grid-template-columns: 10% 80% 10%;
   grid-template-rows: 15% 80% 15%;
   grid-template-areas:
      ". . ."
      ". registerForm ."
      ". . .";
   align-items: center;
   background-color: #f2f2f0;
}
.custom-register-p {
   color: #b573ac;
}

.custom-container-register {
   grid-area: registerForm;
   display: grid;
   width: 70%;
   height: 80%;
   grid-template-rows: 15% 5% 70% 10%;
   grid-template-columns: 100%;
   justify-self: center;
   box-shadow: 1px 5px 5px 5px rgb(12, 12, 12, 0.6);
   padding-left: 5%;
   padding-right: 5%;
   border-radius: 50px;
   transition: 0.5s;
   background-color: #6d1a16;
   grid-template-areas:
      "header"
      "radioButtons"
      "volInput"
      ".";
}
.header-text {
   grid-area: header;
}
.custom-container-register:hover {
   box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
}
.radioButtons {
   grid-area: radioButtons;
   display: grid;
   grid-template-columns: 50% 50%;
   justify-items: center;
}
.radioLabel {
   font-size: 15px;
   color: #b573ac;
}
.vol-inputs {
   height: 100%;
   grid-area: volInput;
   display: grid;
   grid-template-columns: 70% 30%;
   grid-template-rows: 15% 15% 15% 15% 15% 10% 15%;
   grid-template-areas:
      "."
      "."
      "."
      "."
      "."
      "."
      "interests";
}
.image-uploader {
   justify-self: start;
}
.interests {
   grid-area: interests;
   display: grid;
   grid-template-columns: 20% 20% 20% 20% 20%;
   grid-template-rows: 50% 50%;
}
.interests > input {
   justify-self: center;
}
.interests > label {
   justify-self: center;
   font-size: 15px;
   font-weight: bold;
   color: #b573ac;
}
.register-button {
   border-radius: 20px;
   border-color: white;
   transition: 0.5s;
   color: #b573ac;
   font-weight: 1000;
   font-size: 20px;
}
.register-button:hover {
   box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
   background-color: #6d1a16;
}

@media only screen and (min-width: 150px) and (max-width: 800px) {
   .custom-container-register {
      height: 100%;
      width: 100%;
   }
   .custom-content-register {
      display: grid;
      height: 100%;
      width: 100%;
      min-width: 100%;
      grid-template-columns: 100%;
      grid-template-rows: 15% 85%;
      grid-template-areas:
         "."
         " registerForm ";
      align-items: center;
      background-color: #f2f2f0;
   }
}
/* 
@media only screen and (min-width: 381px) and (max-width: 700px) {
   .custom-container-register {
      height: 65%;
      width: 100%;
   }
}
 */
