.custom-content-register {
   display: grid;
   height: 100%;
   width: 100%;
   min-width: 100%;
   grid-template-columns: 10% 80% 10%;
   grid-template-rows: 100%;
   grid-template-areas: ". registerForm .";
   align-items: center;
   background-color: #f2f2f0;
}
.custom-register-p {
   color: #b573ac;
}
.textDirection {
   direction: rtl;
   font-size: 18px;
}

.mdbInputs {
   font-size: 20px !important;
}
.headerText {
   font-size: 25px;
   font-weight: bold;
}

.registerBtn {
   font-size: 25px;
   font-family: CustomFont;
}
.register-label-button {
   font-family: CustomFont !important;
   font-weight: bold !important;
   font-size: 13px !important;
}
.custom-container-register {
   z-index: 1;
   grid-area: registerForm;
   display: grid;
   width: 50%;
   height: 90%;
   grid-template-rows: 100%;
   grid-template-columns: 100%;
   justify-self: center;
   box-shadow: 1px 5px 5px 5px rgb(12, 12, 12, 0.6);
   padding-left: 3%;
   padding-right: 3%;
   border-radius: 50px;
   transition: 0.5s;
   grid-template-areas: "form";
   background-color: #f2f2f0;
}
.formHolder {
   grid-area: form;
   display: grid;
   grid-template-columns: 100%;
   grid-template-rows: 50% 50%;
   width: 100%;
   height: 100%;
}
.header-text {
   grid-area: header;
}
.custom-container-register:hover {
   box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.image-uploader {
   justify-self: start;
}

.register-button {
   border-radius: 20px;
   border-color: white;
   transition: 0.5s;
   color: #b573ac;
   font-weight: 1000;
   font-size: 20px;
}
.register-button:hover {
   box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
   background-color: #6d1a16;
}

@media only screen and (min-width: 150px) and (max-width: 800px) {
   .custom-container-register {
      height: 100%;
      width: 100%;
   }
   .custom-content-register {
      display: grid;
      height: 110%;
      width: 100%;
      min-width: 100%;
      grid-template-columns: 100%;
      grid-template-rows: 100%;
      grid-template-areas: " registerForm ";
      align-items: center;
      background-color: #f2f2f0;
   }
}
/* 
@media only screen and (min-width: 381px) and (max-width: 700px) {
   .custom-container-register {
      height: 65%;
      width: 100%;
   }
}
 */
