.custom-search-content {
   display: grid;
   height: 200%;
   width: 100%;
   grid-template-columns: 10% 80% 10%;
   grid-template-rows: 8% 2% 90%;
   grid-template-areas:
      ". searchTags . "
      ". . ."
      ". events . ";
   background-color: #f2f2f0;
}

.eventsList {
   grid-area: events;
   display: flex;
   flex-wrap: wrap;
   overflow-y: hidden;
}

.searchTagsList {
   grid-area: searchTags;
   display: grid;
   grid-template-rows: 70% 30%;
   grid-template-columns: 100%;
   grid-template-areas:
      "tags"
      "tagButton";
}

.customSearchTagBtn {
   height: 50%;
}
.card-event {
   border-radius: 20px;
}
.customButtonFont {
   font-family: CustomFont !important;
   font-size: 13px;
   font-weight: bold !important;
}
.customImage {
   width: 100%;
   height: 20vw;
   object-fit: contain !important;
}
.description-cut {
   text-overflow: ellipsis;
   overflow: hidden;
   width: 160px;
   direction: rtl;
   font-size: 20px !important;
   height: 15%;
   white-space: nowrap;
}
.customCardFont {
   font-family: CustomFont !important;
   font-size: 20px;
   font-weight: bold !important;
}
.tagLabel {
   font-size: 20px !important;
   font-weight: bold;
   color: #b573ac;
}
.tagsHolder {
   grid-area: tags;
   display: flex;
   justify-content: center;
   align-items: center;
}
